.tenCard {
  border: .3px solid grey;
  justify-content: center;
  width: 130px;
  background: rgba(232,232,232, 0.1)
}

.sevenCard {
  border: .3px solid grey;
  justify-content: center;
  width: 100px;
  background: rgba(232,232,232, 0.1)
}