.currentWeather{
    border: .1px solid #E1EFEB;
    border-radius: 5px;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(195,224,216, 0.1);
    margin: 10px 10px 10px 10px;
    color: #1D2C2A;
}

.currentImg {
  height: 8rem;
}