body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background-image: url(../src/background-img.jpg);
}

#root {
  display: flex;
  justify-content: center;
}

.currentCondition {
  color: white;
  font-size: 1.5rem;
}

